#main-about {
    display: flex;
    height: 90vh;
    font-family: Arial;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    margin-top: 50px;
    margin-left: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header span {
    font-size: 50px;
    text-decoration: underline;
}

.data {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-container {
    width: 50%;
    height: 100%;
    margin-top: 100px;
    margin-left: 100px;
}

.about-header {
    width: 100%;
    font-size: 45px;
    text-align: center;
    padding-top: 50px;
}

.about-container p {
    font-size: 20px;
}

