#main-about {
    background-color: #333333;
    display: flex;
    height: 90vh;
    font-family: Arial;
    position: relative;
}

.header {
    margin-top: 50px;
    margin-left: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header span {
    font-size: 50px;
}

.about-container {
    width: 70%;
    height: 50%;
    margin-top: 100px;
    margin-left: 100px;
}

.about-header {
    width: 100%;
    font-size: 45px;
    text-align: center;
    padding-top: 50px;
}

.about-container p {
    font-size: 20px;
}

.image {
    padding: 50px;
    height: 80%;
    width: 30%;
}

.image img {
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 866px;
  height: 1154px;
}
