#main-home {
    background-color: #494848;
    font-family: Arial, serif;
    height: 90vh;
    display: flex;
    position: relative;
}

.header {
    margin-top: 50px;
    margin-left: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header span {
    font-size: 50px;
}

.info {
    width: 50%;
    padding: 150px;
}

.info h3 {
    font-size: 30px;
    padding-top: 20px;
}

.info #fadeIn {
    position: relative; /* Ustawienie pozycji względem rodzica */
    overflow: hidden; /* Ukrycie elementów, które przekraczają jego granice */
    white-space: nowrap; /* Zapobiega przerywaniu tekstu */
    font-size: 40px;
    font-weight: bold;
    color: red;
    display: inline-block; /* Zapobiega przeskakiwaniu linii */
    animation: typing 5s steps(20, end) forwards; /* Animacja przesuwania tekstu */
}


.info p {
    padding-top: 20px;
}

.icons {
    padding-top: 200px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-icons {
    display: flex;
    list-style-type: none;
    padding: 0;
    color: blue;
}
.li-icon {
    margin-right: 100px;
}

.image {
    height: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 65%;
    border-radius: 10%;
    overflow: hidden;
    background: linear-gradient(180deg, #CCCCCC 0%, #999999 100%);
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.5);
}

.photo img {
    object-fit: cover; /* Dopasowuje obrazek do wymiarów bloku, zachowując proporcje */
}
