#main-contact {
    display: flex;
    height: 90vh;
    font-family: Arial;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    margin-top: 50px;
    margin-left: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header span {
    font-size: 50px;
    text-decoration: underline;
    font-weight: bold;
}

.data {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #007BFF;
  outline: none;
}

.input-group button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-group button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 950px) {
  #main-contact {
    flex-direction: column;
    height: auto;
  }

  .header {
    margin: 20px;
    position: static;
    text-align: center;
  }

  .header span {
    font-size: 30px;
    text-decoration: underline;
  }

  .data {
    flex-direction: column;
  }

  .contact-form-container {
    max-width: 80%;
  }

  .input-group {
    margin-bottom: 10px;
  }

  .input-group input,
  .input-group textarea {
    font-size: 14px;
  }

  .input-group button {
    font-size: 16px;
  }

  h2 {
    font-size: 18px;
  }

  .contact-form .input-group label, input{
    font-size: 14px;
  }
}
