#main-home {
    font-family: Arial;
    height: 90vh;
    width: 100%;
    display: flex;
    position: relative;
}

.header {
    margin-top: 50px;
    margin-left: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header span {
    font-size: 50px;
    text-decoration: underline;
    font-weight: bold;
}

.data {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.image {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
}

.photo {
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.photo img {
    object-fit: cover;
}

.info {
    padding: 20px;
    padding-left: 0;
}

.info h3 {
    font-size: 40px;
    padding-top: 20px;
}

.info h3 span {
    font-size: 50px;
    padding-top: 20px;
}

.info #fadeIn {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    font-size: 40px;
    font-weight: bold;
    color: #2b35e3;
    display: inline-block;
}


.info p {
    padding-top: 20px;
}

.icons {
    height: 200px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-icons {
    display: flex;
    height: 100px;
    list-style-type: none;
    padding: 0;
}
.li-icon {
    position: relative;
    width: 100px;
    padding: 10px;
}

.li-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #2b35e3;
}

.li-icon.cv span {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    display: block;
    font-weight: bold;
}

.li-icon:hover {
    scale: 1.3;
    transition: 0.5s;
}

@media screen and (max-width: 950px) {
  #main-home {
    flex-direction: column;
    height: 90vh;
  }

  .header {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    position: static;
    text-align: center;
  }

  .header span {
    font-size: 20px;
    text-decoration: underline;
  }

  .data {
    flex-direction: column;
    align-items: center;
  }

  .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }

  .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    padding: 10px;
    text-align: center;
  }

  .info h3 {
    font-size: 30px;
  }

  .info h3 span {
    font-size: 35px;
  }

  .info #fadeIn {
    font-size: 35px;
  }

  .info p {
    font-size: 20px;
  }

  .icons {
    height: auto;
    font-size: 30px;
    margin-top: 20px;
  }

  .ul-icons {
    height: auto;
  }

  .li-icon {
    width: auto;
    padding: 5px;
  }

  .li-icon.cv span {
    font-size: 8px;
    top: 40%;
  }

  .li-icon:hover {
    font-size: 40px;
    transition: 0.5s;
  }
}
