#main-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    box-sizing: border-box;
    position: relative;
    font-family: Arial;
    overflow: hidden;
}

.header {
    margin-top: 50px;
    margin-left: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.header span {
    font-size: 50px;
    text-decoration: underline;
    font-weight: bold;
}

.data {
    width: 100%;
    max-width: 800px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #232323;
    padding: 20px;
    box-sizing: border-box;
    z-index: 0;
}

.project-card {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #232323;
    box-sizing: border-box;
}

.project-image {
    width: 100%;
    height: 400px;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-title {
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.project-description {
    font-size: 14px;
    color: #ccc;
    text-align: center;
    line-height: 1.5;
    overflow-y: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    padding: 10px;
}

#backendModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  white-space: nowrap;
}

